.operator {
  height: 70px;
  width: 70px;
  display: flex; 
  justify-content: center;
  align-items: center;
  border: 1px solid #F2C94C;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 2em;
  color: #F2C94C;
}
